<div class="row">
  <h1 class="col-xs-12">{{t 'confirm.header'}}</h1>
</div>
<div class="row">
  <p class="col-xs-12 col-sm-10 col-md-8">
    {{t 'confirm.extra_info'}}
  </p>
</div>
<div class="row">
  <p class="col-xs-12 col-sm-10 col-md-8">
    {{t 'confirm.extra_info_2'}}
  </p>
</div>
<div class="row">
  <p class="col-xs-12 col-sm-10 col-md-8">
    {{t 'confirm.contact_library_link'}}
  </p>
</div>